*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 0.5px solid blue; */
}

body {
  padding: 5%;
}

.cards_container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 20px;
  padding: 30px;
}

.card {
  position: relative;

  background-color: aliceblue;
  width: 25vw;
  height: 50vh;
  margin: 10px;
  padding: 30px;

  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -5px;
  background-color: azure;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 30px;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}
