*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 0.5px solid blue; */
}

body {
  padding: 5%;
}

.cards_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-color: aliceblue;
  width: 240px;
  height: 400px;
  margin: 10px;
  padding: 30px;

  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -5px;
  background-color: azure;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}
